<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193333945671-2uj0ppppsp0pk82n5lb1svi4lfml456m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193333945671-2uj0ppppsp0pk82n5lb1svi4lfml456m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>193333945671-bk1df06d14ub217bpgthiilbubuqm73b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSobri_-yp8791Y4dGfepSS7f6_PCeTyM</string>
	<key>GCM_SENDER_ID</key>
	<string>193333945671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankease</string>
	<key>PROJECT_ID</key>
	<string>bankease-610fb</string>
	<key>STORAGE_BUCKET</key>
	<string>bankease-610fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193333945671:ios:150eb9d61317e7a473d862</string>
</dict>
</plist>